.forma {
    background-repeat: no-repeat;
    background: url(../img/main/Fon1.jpg);
    border: 2px solid blue;
    border-radius: 5px;
    width: 200px;
    height: 200px
}
.form1 {
    background: url(/img/main/fon2.jpg);
    background-repeat: no-repeat;
    border: 5px solid plum;
    border-radius: 10px;
    width: 100px;
    height: 100px;
}
.table {
    background: url(/img/main/Fon1.jpg);
    border: 1px solid grey;
    border-radius: 5px;
    border-left-color: aqua;
    border-right: 8px;
    border-top-width: 8px;
    width: 225px;
    height: 275px;
}