/* color=свойство, а * это применение для любого тэга */
*{
    color:#6aa57d
}
/* Меняем цвет только у тега h1 */
h1 {
    color: brown;
}
/* селектор класса, оброщаемся через . */
.element {
    color: coral;
}
/* селектор идентификатора, оброщаемся через # */
#title {
    color: hotpink;
}
/* Обращение через тэг-div к атрибуту-title */
div[title] {
    color: aqua;
}