* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.container {
    width: 1500px;
    margin: 0 auto;
}
.team {
    background-color: rgba(211, 211, 211, 0.568);
}
.team--inner {
    text-align: center;
}
.team--title {
    font-family: serif;
    font-size: 40px;
    text-align: center;
    font-weight: 100;
    line-height: 80px;
    text-transform: uppercase;
    margin: 0;
    padding-top: 40px;
}
.team--line {
    width: 120px;
    height: 3px;
    background-color: rgb(233, 181, 52);
    margin: 0 auto;
}
.team--text {
    font-size: 18px;
    padding: 5px 0 20px 0;
    color: rgb(112, 111, 111);
}
.cards {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 20px;
}
.icons {
    width: auto;
    height: auto;
    text-align: center;
}
.fa {
    box-shadow: 0px 20px 20px 0px rgba(0, 1, 1, 0.2);
    margin: 0 auto;
    height: 80px;
    width: 80px;
    padding: 15px;
    border: 3px solid;
    border-radius: 50%;
    color: rgb(233, 181, 52);
    font-size: 50px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.icons--text {
    color: rgb(112, 111, 111);
    max-width: 400px;
    padding: 10px;
    line-height: 25px;
}
.icons--title {
    font-family: serif;
    color: black;
    font-size: 25px;
    font-weight: 100;
}
.icons i.fa:hover {
    color: rgb(97, 119, 160);
    background-color: rgb(213, 214, 214);
}
.icons a {
    text-decoration: none;
}
/* ____________________________________________________________________________________________ */
.team1 {
    background-color: rgba(238, 228, 215, 0.801);
}
.container1 {
    width: 1500px;
    margin: 0 auto;
    height: 450px;
}
.team1--inner1 {
    text-align: center;
}
.team1--title {
    text-transform: uppercase;
    line-height: 5px;
    text-align: center;
    padding-top: 40px;
    font-weight: 100;
    font-size: 50px;
    font-family: serif;
}
.team1--line1 {
    margin: 0 auto;
    background-color: chocolate;
    width: 200px;
    height: 3px;
}
.container1--img {
    position: absolute;
    left: 300px;
    height: 300px;
    width: 300px;
}
.team1--teaxt1 {
    margin-top: 60px;
    max-width: 800px;
    padding: 30px;
}
.team1--inner1 p {
    margin-left: 350px;
    line-height: 27px;
    text-align: left;
    font-size: 20px;
    padding: 30px;
}
/* ----------------------------------------------------------------------------------------------------------------------------- */
.team2 {
    background-color: rgb(160, 194, 194);
}
.container2 {
    width: 1500px;
    height: 350px;
    margin: 0 auto;
}
.team2--inner2 {
    text-align: center;
}
.team2--title2 {
    text-transform: uppercase;
    line-height: 5px;
    text-align: center;
    padding-top: 40px;
    font-weight: 100;
    font-size: 50px;
    font-family: serif;
}
.team2--line2 {
    margin: 0 auto;
    background-color: chocolate;
    width: 200px;
    height: 3px;
    margin-bottom: 30px;
}
.container2--img {
    padding: 40px;
    position: absolute;
    left: 1300px;
    height: auto;
}
.team2--text2 {
    left: 450px;
    position: absolute;
    max-width: 800px;
    text-align: right;
}


